#button-wrap
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
#button
{
    background: rgb(67, 67, 87);
    width: 500px;
    height: 200px;
}
#hex
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    width: 500px;
    height: 200px;
    font-size: 100px;
    display: flex;
    justify-content: center;    
    align-items: center;
}
body
{
    background-color: #ffffff;
    cursor: pointer;
}