.wrap {
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

button {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 40px;
}

input {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 9%;
}

#result {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}