body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    background-color: red;
    width: 100px;
    height: 100px;
    cursor: pointer;
}